:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #b83a14;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

hr {
  width: 100px;
  border: none;
  border-top: 0.5px solid white;
  margin: 30px auto;
}

a {
  color: #638FF0;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
    color: #5780D9;
  }
}
input {
  font-family: "Poppins", sans-serif;
}
