/* 2025-10-22 - dropping some colors here to quickly reference -CSS HSL *
--white: hsla(240, 20%, 99%, 1);
--african-violet: hsla(316, 34%, 65%, 1);
--eggshell: hsla(58, 33%, 84%, 1);
--white-2: hsla(0, 0%, 100%, 1);
--atomic-tangerine: hsla(24, 89%, 63%, 1);
--isabelline: hsla(36, 33%, 94%, 1);
--white-3: hsla(0, 0%, 100%, 1);
*/

:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #b83a14;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

hr {
  width: 100px;
  border: none;
  border-top: 0.5px solid white;
  margin: 30px auto;
}

a {
  color: #638FF0;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
    color: #5780D9;
  }
}
input {
  font-family: "Poppins", sans-serif;
}

.contains-task-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}